* {
  font-family: monospace;
  font-size: 0.8rem;
}
.box {
  border: 1px solid;
  display: inline-block;
}
#magic:hover {
  background-color: #ee9;
}
#ident {
  background-color: #e99;
}
#ehdr {
  background-color: #99e;
}
