* {
  font-family: monospace;
  font-size: 0.8rem;
}
.header > * {
  vertical-align: top;
}
#desc {
  vertical-align: top;
  padding-left: 2em;
  width: 250px;
}
.info_phdr {
  display: none;
  border: 1px solid #000;
}
.box {
  border: 1px solid;
  display: inline-block;
}
.hover:hover {
  background-color: #ee9;
}
#ident {
  background-color: #e99;
}
#ehdr {
  background-color: #99e;
}
.phdr {
  background-color: #eb9;
}
